@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    background: white !important;
    z-index: 1111;
}

.header .container {
    width: 100vw;
    display: flex;
    height: 80px;
    gap: 150px;
}

.header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    color: black;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /* z-index: 999; */
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


.dropdown-toggle::after {
    visibility: hidden;
}

.navbar-buttons>button.btn.btn-light {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .3s;
}

.navbar-buttons>button.btn.btn-light:hover {
    background-color: rgb(224, 224, 224);
}

.navbar {
    display: flex;
    align-items: center;
    line-height: normal;
    background-color: #fff;
}

.cons-paragraph {
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.navbar-logo img {
    height: 60px;
    width: 60px;
}

.navbar-nav a {
    display: flex;
    margin-right: 30px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-items a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(177, 183, 203);
    font-weight: normal;
}

.thems-btn {
    width: 30px;
    height: 30px;
    margin: 10px;
    font-weight: bold;
    border-radius: 20px;

}

.navbar-buttons>img {
    width: 20px;
    margin-left: 10px;
}


.navbar-list>ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.navbar-list .active {
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
}

.home img {
    width: 100%;
}

#\32>div>div {
    padding-top: 40px;
}

.home__container>span {
    font-size: 10px;
    margin-top: 200px;
    padding-top: 20px;
}

.home p {
    margin-top: 40px;
    font-size: 60px;
    font-weight: 400;
}

#\32>div>div>div:nth-child(1)>h1>b {
    font-size: 60px;
    margin-top: 20px;
    color: black;
}

.home .top p {
    font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    display: block;
    margin-bottom: 16px;
}

.home p {
    font-weight: normal;
    color: rgb(2, 6, 29);
    font-size: 16px;
}

.home button {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .3s;
    margin-top: 20px;
}

.home button:hover {
    background-color: rgb(224, 224, 224);
}

.carousel__container {
    display: flex;
    justify-content: center;
}

#\34>div>div>div.col-md-6.col-lg-6.col-sm-12.col-xs-12>ul>li {
    list-style: none;
    text-decoration: none;
}

.col>ul {
    margin-top: 275px;
    color: red;
    text-decoration: none;
    list-style: none;
}

ul.hire-item a {
    margin-top: 270px;
    padding-top: 100px;
    color: red;
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
}

.hire>div>div>div.col {
    margin-top: 45px;
}


.hire {
    padding-top: 60px;
    padding-bottom: 100px;
}

.hire h2 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-bottom: 30px;
    padding-top: 50px;
}

.hire p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    padding-top: 40px;
}

.text {
    width: 100%;
}

.simple>div>h1 {
    padding-bottom: 25px;
}

.simple>div>div>div:nth-child(1)>h2 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.simple>div>div>div:nth-child(2)>div>h3 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.simple>div>div>div:nth-child(3)>div>h4 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.simple>div>div>div:nth-child(4)>div>h5 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.simple>div>div>div:nth-child(4)>p {
    padding-bottom: 10px;
}

.simple>div>div>div:nth-child(2)>img::before {
    box-sizing: border-box;
}

.simple>div>div>div:nth-child(1)>div {
    position: relative;
}

.simple>div>div>div:nth-child(1)>div::after {
    position: absolute;
    content: "";
    width: 60%;
    border: 1px dashed black;
    top: 23px;
    right: 23px;
}

.simple>div>div>div:nth-child(2)>div {
    position: relative;
}

.simple>div>div>div:nth-child(2)>div::after {
    position: absolute;
    content: "";
    width: 60%;
    border: 1px dashed black;
    top: 23px;
    right: 23px;
}

.simple>div>div>div:nth-child(3)>div {
    position: relative;
}

.simple>div>div>div:nth-child(3)>div::after {
    position: absolute;
    content: "";
    width: 60%;
    border: 1px dashed black;
    top: 23px;
    right: 23px;
}

.slide-one .owl-item img {
    width: 70px;
    height: 70px;
}

.slide-one img {
    margin-top: 130px;
    height: 80px;
    width: 30%;
}

.owl-carousel .owl-item .slide-one img {
    width: 30%;
}

.crsl-item a::before {
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    font-size: 20px;
    text-decoration: none;
    color: #f13c31;
}

.crsl-item.activeted a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 33%;
    height: 3px;
    background-color: #f13c31;
    transform: translateY(10px);
    content: "";
    transition: width 0.3s ease-out;
    margin-bottom: 35px;
    margin-left: 130px;
}

.crsl-item a {
    visibility: hidden;
}

.crsl-item.activeted a {
    visibility: visible;
    margin-bottom: 20px;
}

.read-more-btn {
    color: #f13c31;
    margin-bottom: 40px;
}

.crsl-item a::after {
    display: block;
    position: absolute;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #f13c31;
    transform: translateY(10px);
    content: "";
    transition: width 0.3s ease-out;
    margin-bottom: 35px;
    margin-left: 130px;
}

.crsl-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    font-size: 20px;
    text-decoration: none;
}

#\36>div>div.owl-nav {
    visibility: hidden;
}

.company {
    background-color: #00000050;
    padding: 50px;
}

.company .container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.company d {
    display: flex;
    justify-content: center;
    font-size: 70px;

}

.company h5 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 70px 50px 60px 60px;
}

.core {
    z-index: 1 !important;
    margin-top: 70px;
    cursor: auto;
}

.slide-two img {
    width: 300px !important;
    height: 400px;
    margin-left: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.slide-two:hover:before {
    bottom: 8px;
    opacity: 1;
}

.slide-two:hover:after {
    top: 8px;
    opacity: 1;
}

.crsl-item img {
    transform: translateY(10px);
    transition: .7s;
}

.crsl-item.activeted img {
    transform: translateY(0);
}

.crsl-item h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0);
    transition: .7s;
    font-size: 20px;
}

.crsl-item.activeted h1 {
    transform: translateY(10px);
}

.crsl-item.activeted h2 {
    transform: translateY(0);

}

.crsl-item h2 {
    transform: translateY(10px);
    transition: .7s;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.crsl-item.activeted h3 {
    transform: translateY(0);
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.crsl-item h3 {
    transform: translateY(10px);

}

.crsl-item.activeted h4 {
    transform: translateY(0);
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.crsl-item h4 {
    transform: translateY(10px);
    display: flex;
}

.crsl-item.activeted h5 {
    transform: translateY(0);
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.crsl-item h5 {
    transform: translateY(10px);
}

.crsl-item.activeted h6 {
    transform: translateY(0);
    transition: .7s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.crsl-item h6 {
    transform: translateY(10px);
    display: flex;
}

.crsl-item p {
    transform: translateY(10px);
    transition: .7s;
}

.crsl-item.activeted p {
    transform: translateY(0px);
    line-height: 1.6;
    transition: .7s;
    transform: translateY(10px);
}

.crsl-item.activeted a {
    visibility: visible;
    transition: .7s;
}

.crsl-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    font-size: 20px;
    visibility: hidden;
    transition: .4s;
    transform: translateY(0px);
    transition: .7s;
}

#\36>div>div.owl-stage-outer {
    overflow: visible !important;
}

#\36>div>div.owl-stage-outer>div>div:nth-child(1)>div {
    background-color: #75b2e4;
    width: 348.6px;
    height: 628px;
    border-radius: 6px;
}

#\36>div>div.owl-stage-outer>div>div:nth-child(2)>div {
    background-color: rgb(217, 135, 188);
    width: 348.6px;
    height: 628px;
    border-radius: 6px
}

#\36>div>div.owl-stage-outer>div>div:nth-child(3)>div {
    background-color: rgb(234, 147, 234);
    width: 348.6px;
    height: 628px;
    border-radius: 6px;
}

#\36>div>div.owl-stage-outer>div>div:nth-child(4)>div {
    background-color: rgb(223, 142, 112);
    width: 348.6px;
    height: 628px;
    border-radius: 6px;
}


#\36>div>div.owl-stage-outer>div>div:nth-child(5)>div {
    background-color: rgba(0, 217, 255, 0.801);
    width: 348.6px;
    height: 628px;
    border-radius: 6px;
}

.slide-two h {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-two p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-left: 15px;
}

.tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.tab-list>div>div {
    margin: 0 auto;
}

.content {
    padding: 20px;
    display: none;
    flex-basis: 50%;
}

.tab-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tabs-triggers a {
    position: relative;
}

.tabs-triggers__item.tabs-content__item--active span::after {
    background-color: red;
    height: 2px;
    width: 100%;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 1;
}

.tabs-triggers__item span::after {
    background-color: red;
    height: 2px;
    width: 100%;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    transition: .2s;
}

.tab-list>div {
    display: flex;
    flex-direction: column;
}

.crsl-item.activeted h {
    transform: translateY(10px);
}


.tab-list h6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    padding-bottom: 80px;
    padding-right: 40px;
}

.tabs-triggers {
    display: flex;
    margin: 0 auto;
    width: 62%;
}




.tab-list>div>div>div.tabs-content {
    margin: 0 auto;
    width: 65%;
}

.tabs-triggers__item {
    color: black;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    margin-bottom: 40px;
}

.tabs-content__item {
    display: none;
    padding: 30px;

}

.tabs-content__item--active {
    display: block;
    outline-width: 50px;
}

.tabs-triggers>a:hover {
    color: red;
}

a.tabs-triggers__item.tabs-content__item--active {
    color: red;
}

.tab-container {
    background-color: #125688;
    border-radius: 3px;
    overflow: hidden;
}

.tab-title {
    font-family: sans-serif;
    color: #fff;
    margin: 10px;
    font-weight: normal;
    font-size: 18px;
}

.tab-wrapper {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: sans-serif;
}

.wrapper img {
    width: 60px;
    height: 60px;
    display: flex;
}

.tabs-icons1,
.tabs-icons2,
.tabs-icons3,
.tabs-icons4,
.tabs-icons5,
.tabs-icons6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
}

.our-work container {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.view-all-btn {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .3s;
}

.view-all-btn:hover {
    background-color: rgb(224, 224, 224);
}

.our-work h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #252b33;
    font-weight: 800;
    line-height: 55px;
}

.info {
    position: relative;
    padding: 60px 40px 60px 60px;
}

.block-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.our-work>div>div>div>div:nth-child(1)>p {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 70px;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-left: 30px;
}

.our-work h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -1.3px;
    padding-bottom: 0;
    margin-left: 30px;
}

.our-work h3 {
    width: 100%;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 10px;
}

.our-work>div>div>div>div:nth-child(1)>div>div>img {
    border-radius: 60px;
    height: 50px;
}

.founder-icon {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.design .container {
    background-image: linear-gradient(225deg, #5FB3F9, #4C55ED);
    border-radius: 6px;
}

.review {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin-top: 30px;
    width: 400px;
    height: 150px;
    margin-left: 30px;
}

.name {
    color: #ffff;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 15px;
}

.name span {
    color: rgba(255, 255, 255, 0.2);
}

.cambridge .container {
    margin-top: 50px;
    background-image: linear-gradient(225deg, #be1b4c, #d85079);
    border-radius: 6px;
}

.cambridge h4 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -1.3px;
    padding-bottom: 0;
    margin-left: 30px;
}

.cambridge h5 {
    width: 100%;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 10px;
}

.mng-icon {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
}

.cambridge>div>div>div:nth-child(2)>img {
    padding-top: 20px;
}

.share>div>div>div:nth-child(2)>img {
    padding-top: 20px;
}

.share .container {
    margin-top: 50px;
    background-image: linear-gradient(225deg, #d65bce, #cc23b8);
    border-radius: 6px;
}


.share .review {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin-top: 30px;
    width: 400px;
    height: 150px;
    margin-left: 30px;
}

.share h4 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -1.3px;
    padding-bottom: 0;
    margin-left: 30px;
}

.share h5 {
    width: 100%;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 10px;
}

#\38>button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    background-color: red;
    color: white;
    border-radius: 20px;
    border-color: red;
    margin-top: 30px;
}

.innovation .container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
}

.innovation h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.innovation p {
    display: flex;
    justify-content: center;
    font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}

.innovation button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    background-color: red;
    color: white;
    border-radius: 20px;
    border-color: red;
    width: 200px;
    margin-top: 30px;
}

.we-promise {
    padding-bottom: 120px;
}

.we-promise>div>div>div:nth-child(1) {
    margin-top: 150px;
}

.we-promise button {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .3s;
}

.view-all-btn:hover {
    background-color: rgb(224, 224, 224);
}

.slide-three img {
    width: 600px;
    height: 300px;
    margin-left: 650px;
}

.clients h4 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #252b33;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: -0.5px;
    margin-bottom: 80px;
}

.globe>div {
    background: url(https://keep.google.com/u/0/media/v2/1ksYAHExvuj5QvtQcYwcBvinIonVS7jZ6S7gxu92E-WRw3a9tIsayiK7pJMfKvw/1THhS8oZtn6lJRxRT7H2bFdkd4MDuRoLQSJe8LAsuM8w5smZMtA1CCMdKZOetoh8?sz=512&accept=image%2Fgif%2Cimage%2Fjpeg%2Cimage%2Fjpg%2Cimage%2Fpng%2Cimage%2Fwebp) no-repeat;
    width: 100vw;
    margin-top: 60px;
}

.globe button {
    background-color: red;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .3s;
}

.globe button:hover {
    background-color: rgb(224, 224, 224);
}

.text-box {
    background: #fff;
    padding: 70px 40px;
    box-shadow: 0 16px 54px 0 rgb(88 85 85 / 55%);
    border-radius: 4px;
    margin: 80px 0;
    width: 650px;
}

.globe p {
    font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}


.glode h5 {
    font-size: 40px;
    padding: 6px 0 24px 0;
    font-weight: 600;
}


.time {
    margin-top: 30px;
    padding-top: 60px;
    background-color: #FAFAFA;
}

.clock {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 241, 241);
    background-size: cover;
    border-radius: 50%;
    margin-left: 120px;
    margin-bottom: 30px;
}

#\31 3>div>div>div:nth-child(2)>div.clock {
    background-color: black;
}

#\31 5>div>div>div:nth-child(2)>div.clock {
    background-color: black;
}

.clock:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    z-index: 12;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 160px;
    height: 160px;
}

.clock .min,
.mn {
    width: 190px;
    height: 190px;
}

.clock .sec,
.sc {
    width: 230px;
    height: 230px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: white;
    z-index: 10;
    border-radius: 6px 6px 0 0;
    margin-top: 57px;
}

.clock p {
    font-size: 14px;
    line-height: 24px;
    color: #252B33;
    padding: 0 40px;
    display: block;
    font-weight: 400;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 28px;
    margin-top: 65px;
    background-color: white;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    margin-top: 30px;
    background-color: red;
    z-index: 12;
    margin-top: 86px;
    border-radius: 6px 6px 0 0;
}


.city h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.city h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.city h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.city h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.city h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.city p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.footer h1 {
    margin-top: 30px;
    color: #252B33;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer h2 {
    margin-top: 30px;
    color: #252B33;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer h3 {
    margin-top: 30px;
    color: #252B33;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}

.footer li {
    color: #252B33;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.red-text {
    color: #F13C31;
    font-size: 14px;
    font-weight: 600;
}

.ft-services {
    width: 500px;
}

.footer>div>div:nth-child(1)>div:nth-child(1)>p.ft-title {
    font-size: 14px;
    color: #8b969f;
    background: transparent;
    height: inherit;
}

.footer>div>div:nth-child(1)>div:nth-child(1)>div.call-box>div:nth-child(1)>p {
    font-size: 14px;
    color: #8b969f;
    background: transparent;
    height: inherit;
}

.dmca {
    margin-top: 20px;
}

.email-box {
    margin-top: 20px;
}

.sub-footer {
    border-top: 1px solid #EEEEEE;
    margin-top: 40px;
    padding: 30px 0;
}

.sub-footer>div>div>div:nth-child(1)>div {
    font-size: 12px;
    line-height: 20px;
    color: #8A959E;
    margin-bottom: 5px;
    display: inline-block;
}

.footer>div>div.row>div:nth-child(1)>div>img {
    width: 80px;
}

.logo-box {
    padding-left: 180px;
}

.logo-box ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    padding: 0px 15px;
}

.logo-box img {
    width: 20px;
    height: 20px;
}

.ft-title {
    font-size: 14px;
    color: #8b969f;
    background: transparent;
    height: inherit;
}

.footer .contacts {
    padding-top: 30px;
}

.logo-box {
    width: 300px;
    height: 25px;
}

#\32  > div > div > div:nth-child(1){
    margin-top: 60px;
}


@media(min-width:0px) and (max-width:1160px) {
    .footer .contacts {
        font-size: 10px;
    }
}

@media(min-width:0px) and (max-width:991px) {
    .navbar-buttons>button.btn.btn-light {
        padding: 10px 20px;
    }
}

@media(min-width:0px) and (max-width:768px) {
    .navbar-list {
        font-size: 6px;
    }
}

@media(min-width:0px) and (max-width:820px) {
    .header .navbar {
        display: none;
        height: 35px;
    }

    .header .navbar .navbar-nav {
        width: 100%;
        padding: 40px;
        display: block;
        font-size: 30px;
        line-height: 62px;
        height: 480px;
        background-color: #fff;
        right: 5px;
        top: 75px;
        position: fixed;
        transition: .7s;
    }

    .navbar-nav li {
        display: flex;
        justify-content: center;
    }

    .header .navbar.active {
        display: block;
    }

    .header .container {
        height: 30px;
    }

    #\34>div>div>div:nth-child(2)>ul {
        margin-top: 20px;
    }

    .burger {
        display: block;
        position: fixed;
        right: 15px;
        top: 15px;
        width: 150px;
        height: 50px;
        background-color: opacity;
    }

    .burger .span1 {
        right: 25px;
        top: 10px;
        padding-top: 3px;
        position: absolute;
        height: 2px;
        width: 50px;
        background-color: rgb(146, 11, 11);
        transform: rotate(0deg);
        transition: .3s;
    }

    .burger.active .span1 {
        transform: rotate(35deg);
        top: 20px;
        left: 73px;
    }

    .burger .span2 {
        right: 25px;
        top: 20px;
        padding-top: 3px;
        position: absolute;
        height: 2px;
        width: 50px;
        background-color: rgb(146, 11, 11);
        transform: rotate(0deg);
        transition: .3s;
    }

    .burger.active .span2 {
        transform: rotate(-35deg);
        right: 26px;
        bottom: 33px;
        top: 19px;
    }

    .burger .span3 {
        right: 25px;
        top: 30px;
        padding-top: 3px;
        position: absolute;
        height: 2px;
        width: 50px;
        background-color: rgb(146, 11, 11);
        transform: rotate(0deg);
        transition: .3s;
    }

    .burger.active .span3 {
        display: none;
    }

    .navbar-nav .navbar-list ul {
        visibility: hidden;
        display: none;
        line-height: 60px;
        font-size: 20px;
        right: 30px;
    }

    .navbar-list .navbar-nav ul .active {
        visibility: visible;
        display: block;
        display: flex;
        flex-direction: column;
    }

    .navbar-list .navbar-nav ul .active {
        column-gap: 10px;
        font-size: 30px;
        line-height: 10px;
    }

    #\31>div.row>div>div.navbar-buttons {
        padding: 5px 10px;
        margin-right: 50px;
    }

    #\31>div.row>div>div.navbar-buttons.active {
        background-size: cover;
        top: 490px;
        margin-left: 200px;
        padding-right: 5px;
        position: absolute;
        display: block;
    }

    #\31>div.row>div>div.navbar-logo {
        top: 10px;
        left: 10px;
    }

    @media(min-width:576px)and (max-width:990px) {
        .text-box {
            width: 60%;
        }

        #\37>div>div.wrapper>div>div.tabs-triggers {
            display: flex;
            margin: 0 auto;
            width: 100%;
        }
    }
}

@media(min-width:0px)and (max-width:1150px) {
    .navbar ul {
        font-size: 10px;
    }
}

@media(min-width:0px)and (max-width:320px) {
    #\38>div.design>div>div>div:nth-child(2)>img {
        width: 300px;
    }

    #\38>div.cambridge>div>div>div:nth-child(2)>img {
        width: 300px;
    }

    #\38>div.share>div>div>div:nth-child(2)>img {
        width: 300px;
    }
}