@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    padding: 15px 30px;
    position: fixed;
    width: 100%;
    background: white !important;
    z-index: 1111;
}

.header .container {
    width: 100vw;
    display: flex;
    height: 80px;
    gap: 150px;
}

.header .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    color: black;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}


.navbar-buttons>button.btn.btn-light, 
.navbar-buttons>a.btn.btn-light  {
    visibility: visible;
    background-color: #E30B00;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .3s;
}

.navbar-buttons>button.btn.btn-light:hover,
.navbar-buttons>a.btn.btn-light:hover  {
    background-color: rgb(224, 224, 224);
}

.navbar {
    display: flex;
    align-items: center;
    line-height: normal;
    background-color: #fff;
}

#\31>div.row>div>nav>div>ul>li:nth-child(7) {
    display: none;
}

.cons-paragraph {
    font-size: clamp(1.5625rem, 1.0841836734693877rem + 2.0408163265306123vw, 3.125rem) !important;
    font-weight: 600;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
}

.navbar-logo img {
    width: 60px;
}

.navbar-nav a {
    display: flex;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.nav-items a {
    font-size: 25px;
    text-decoration: none;
    color: rgb(177, 183, 203);
    font-weight: normal;
}

.navbar-list>ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.navbar-list .active {
    display: flex;
    flex-direction: column;
}

.home {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 60px;
}

.home img {
    width: 100%;
}

#\32>div>div {
    padding-top: 40px;
}

.home__container>span {
    font-size: 10px;
    margin-top: 200px;
    padding-top: 20px;
}

.home p {
    margin-top: 40px;
    font-size: 60px;
    font-weight: 400;
}

#\32>div>div>div:nth-child(1)>h1>b {
    font-size: 60px;
    margin-top: 20px;
    color: black;
}

.home .top p {
    font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    display: block;
    margin-bottom: 16px;
}

.home p {
    font-weight: normal;
    color: rgb(2, 6, 29);
    font-size: 16px;
}

.carousel__container {
    display: flex;
    justify-content: center;
}

.mission {
    padding-top: 20px;
}

.mission>div>div>div.col {
    margin-top: 45px;
}

.mission {
    padding-top: 60px;
    padding-bottom: 100px;
}

.mission h2 {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    padding-top: 50px;
}

.mission p {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    padding-top: 40px;
}

.text {
    width: 100%;
}

.simple {
    padding-top: 20px;
}

.simple>div>h1 {
    padding-bottom: 25px;
}

.simple>div>div>div:nth-child(1)>h2 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.simple>div>div>div:nth-child(2)>div>h3 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.simple>div>div>div:nth-child(3)>div>h4 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.simple>div>div>div:nth-child(4)>div>h5 {
    font-size: 30px;
    padding-top: 15px;
    padding-bottom: 20px;
}

.simple>div>div>div:nth-child(4)>p {
    padding-bottom: 10px;
}

.simple>div>div>div:nth-child(2)>img::before {
    box-sizing: border-box;
}

.simple>div>div>div:nth-child(1)>div {
    position: relative;
}

.simple>div>div>div:nth-child(1)>div::after {
    position: absolute;
    content: "";
    width: 60%;
    border: 1px dashed black;
    top: 23px;
    right: 23px;
}

.simple>div>div>div:nth-child(2)>div {
    position: relative;
}

.simple>div>div>div:nth-child(2)>div::after {
    position: absolute;
    content: "";
    width: 60%;
    border: 1px dashed black;
    top: 23px;
    right: 23px;
}

.simple>div>div>div:nth-child(3)>div {
    position: relative;
}

.simple>div>div>div:nth-child(3)>div::after {
    position: absolute;
    content: "";
    width: 60%;
    border: 1px dashed black;
    top: 23px;
    right: 23px;
}



#\36>div>div.owl-nav {
    visibility: hidden;
}

.company {
    background-color: #00000050;
    padding: 50px;
}

.company .container {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.company d {
    display: flex;
    justify-content: center;
    font-size: 70px;

}

.company h5 {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 70px 50px 60px 60px;
}


#\36>div>div.owl-stage-outer {
    overflow: visible !important;
}

#\36>div>div.owl-stage-outer>div>div:nth-child(1)>div {
    background-color: #75b2e4;
    width: 348.6px;
    height: 628px;
    border-radius: 6px;
}

#\36>div>div.owl-stage-outer>div>div:nth-child(2)>div {
    background-color: rgb(217, 135, 188);
    width: 348.6px;
    height: 628px;
    border-radius: 6px
}

#\36>div>div.owl-stage-outer>div>div:nth-child(3)>div {
    background-color: rgb(234, 147, 234);
    width: 348.6px;
    height: 628px;
    border-radius: 6px;
}

#\36>div>div.owl-stage-outer>div>div:nth-child(4)>div {
    background-color: rgb(223, 142, 112);
    width: 348.6px;
    height: 628px;
    border-radius: 6px;
}


#\36>div>div.owl-stage-outer>div>div:nth-child(5)>div {
    background-color: rgba(0, 217, 255, 0.801);
    width: 348.6px;
    height: 628px;
    border-radius: 6px;
}

.slide-two h {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-two p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-left: 15px;
}

.wrapper {
    padding-top: 20px;
}

.tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.tab-list>div>div {
    margin: 0 auto;
}

.content {
    padding: 20px;
    display: none;
    flex-basis: 50%;
}

.tab-list {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.tabs-triggers a {
    position: relative;
}

.tabs-triggers__item.tabs-content__item--active span::after {
    background-color: #E30B00;
    height: 2px;
    width: 100%;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 1;
}

.tabs-triggers__item span::after {
    background-color: #E30B00;
    height: 2px;
    width: 100%;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    transition: .2s;
}

.tab-list>div {
    display: flex;
    flex-direction: column;
}

.crsl-item.activeted h {
    transform: translateY(10px);
}


.tab-list h6 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 40px;
    padding-bottom: 80px;
    padding-right: 40px;
}

.tabs-triggers {
    display: flex;
    margin: 0 auto;
    width: 62%;
}




.tab-list>div>div>div.tabs-content {
    margin: 0 auto;
    width: 65%;
}

.tabs-triggers__item {
    color: black;
    text-align: center;
    text-decoration: none;
    flex-grow: 1;
    margin-bottom: 40px;
}

.tabs-content__item {
    display: none;
    padding: 30px;

}

.tabs-content__item--active {
    display: block;
    outline-width: 50px;
}

.tabs-triggers>a:hover {
    color: #E30B00;
}

a.tabs-triggers__item.tabs-content__item--active {
    color: #E30B00;
}

.tab-container {
    background-color: #125688;
    border-radius: 3px;
    overflow: hidden;
}

.tab-title {
    font-family: sans-serif;
    color: #fff;
    margin: 10px;
    font-weight: normal;
    font-size: 18px;
}

.tab-wrapper {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: sans-serif;
}

.wrapper img {
    width: 60px;
    height: 60px;
    display: flex;
    margin-bottom: -50px;
}

.tabs-icons1,
.tabs-icons2,
.tabs-icons3,
.tabs-icons4,
.tabs-icons5,
.tabs-icons6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 150px;
    
}

.our-work container {
    display: flex;
    flex-direction: column;
    column-gap: 30px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.view-all-btn {
    background-color: #E30B00;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .3s;
}

.view-all-btn:hover {
    background-color: rgb(224, 224, 224);
}

.our-work h1 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #252b33;
    font-weight: 800;
    line-height: 55px;
}

.info {
    position: relative;
    padding: 60px 40px 60px 60px;
}

.block-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.our-work>div>div>div>div:nth-child(1)>p {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 70px;
    letter-spacing: 3px;
    margin-top: 50px;
    margin-left: 30px;
}

.our-work h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 52px;
    letter-spacing: -1.3px;
    padding-bottom: 0;
    margin-left: 30px;
}

.our-work h3 {
    width: 100%;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0;
    line-height: 28px;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 10px;
}

.our-work>div>div>div>div:nth-child(1)>div>div>img {
    border-radius: 60px;
    height: 50px;
}

.founder-icon {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

.design .container {
    background-image: linear-gradient(225deg, #5FB3F9, #4C55ED);
    border-radius: 6px;
}

.review {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    margin-top: 30px;
    width: 400px;
    height: 150px;
    margin-left: 30px;
}

.name {
    color: #ffff;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 15px;
}

.name span {
    color: rgba(255, 255, 255, 0.2);
}

#\38>button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    background-color: #E30B00;
    color: white;
    border-radius: 20px;
    border-color: #E30B00;
    margin-top: 30px;
}

.services {
    padding-top: 20px;
}

.services .container {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 100px;
}

.services h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.services h3 {
    display: flex;
    justify-content: center;
}

.services p {
    display: flex;
    font-size: 16px;
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}

.services button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: normal;
    background-color: #E30B00;
    color: white;
    border-radius: 20px;
    border-color: #E30B00;
    width: 200px;
    margin-top: 30px;
}

.we-promise {
    padding-top: 20px;
    padding-bottom: 120px;
}

.we-promise>div>div>div:nth-child(1) {
    margin-top: 150px;
}

.we-promise button {
    background-color: #E30B00;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    transition: .3s;
}

.we-promise img {
    width: 100%;
}

.slide-three img {
    width: auto;
    height: 300px;
}

.clients h4 {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #252b33;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: -0.5px;
    margin-bottom: 80px;
}

.clients .owl-item img {
    width: auto;
    height: 150px;
    width: 280px;
}

.globe>div {
    width: 100vw;
    margin-top: 60px;
}

.globe {
    background-image: url(./images/globe-pib.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: clamp(0rem, -15.057397959183675rem + 64.24489795918367vw, 49.1875rem);
}

#\31 2>div>div>div:nth-child(2)>img {
    width: 100px;
    height: 100px;
}

#\31 2>div>div>div:nth-child(2) {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#\31 2>div>div>div:nth-child(2)>div.ball-box>div:nth-child(1)>img {
    width: 60%;
}

#\31 2>div>div>div:nth-child(2)>div:nth-child(2)>img {
    width: 80%;
}

.ball-box {
    display: flex;
    align-items: self-end;
}

.text-box {
    background: #fff;
    padding: 70px 40px;
    box-shadow: 0 16px 54px 0 rgb(88 85 85 / 55%);
    border-radius: 4px;
    margin: 80px 0;
    width: 100%;
}

.text-box img {
    width: 100%;
}

.globe p {
    font-size: clamp(0.875rem, 0.8367346938775511rem + 0.163265306122449vw, 1rem);
    color: #252b33;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}

.globe img {
    width: 100%;
}

.glode h5 {
    font-size: 40px;
    padding: 6px 0 24px 0;
    font-weight: 600;
}

.project .owl-item img {
       height: 200px;
       padding-left: 12px;
       padding-top: 10px;
       padding-right: 20px;
}

.project .card-img{
    width: 200px;
    height: 400px;
    background-color:#ffff ;
    border-radius: 10px;
    box-shadow: 0 16px 54px 0 rgb(88 85 85 / 55%);
    margin-bottom: 50px;
    margin-top: 50px;
}
.text {
    display: flex;
    text-align: center;
    padding-right: 8px;
}
.time {
    margin-top: 30px;
    padding-top: 60px;
    background-color: #FAFAFA;
}

.clock {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 241, 241);
    background-size: cover;
    border-radius: 50%;
    margin-bottom: 30px;
}

#\31 3>div>div>div:nth-child(2)>div.clock {
    background-color: black;
}

#\31 5>div>div>div:nth-child(2)>div.clock {
    background-color: black;
}

#\31 3>div>div>div:nth-child(1) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#\31 3>div>div>div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#\31 3>div>div>div:nth-child(3) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#\31 3>div>div>div:nth-child(4) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.clock:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    z-index: 12;
}

.clock .hour,
.clock .min,
.clock .sec {
    position: absolute;
}

.clock .hour,
.hr {
    width: 160px;
    height: 160px;
}

.clock .min,
.mn {
    width: 190px;
    height: 190px;
}

.clock .sec,
.sc {
    width: 230px;
    height: 230px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 20px;
    background-color: white;
    z-index: 10;
    border-radius: 6px 6px 0 0;
    margin-top: 57px;
}

.clock p {
    font-size: 14px;
    line-height: 24px;
    color: #252B33;
    padding: 0 40px;
    display: block;
    font-weight: 400;
}

.mn:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 28px;
    margin-top: 65px;
    background-color: white;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sc:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    margin-top: 30px;
    background-color: #E30B00;
    z-index: 12;
    margin-top: 86px;
    border-radius: 6px 6px 0 0;
}


.city h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
}

.city h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.city h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.city h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.city h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.footer {
    padding-bottom: 40px;
}

.footer li {
    color: #252B33;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.call-box {
    display: flex;
    justify-content: flex-end;
}

.footer>div>div:nth-child(1)>div:nth-child(1)>p.ft-title {
    font-size: 14px;
    color: #8b969f;
    background: transparent;
    height: inherit;
}

.footer>div>div:nth-child(1)>div:nth-child(1)>div.call-box>div:nth-child(1)>p {
    font-size: 14px;
    color: #8b969f;
    background: transparent;
    height: inherit;
}

#\31 4>div>div>div.col-lg-3.col-md-3.col-sm-4.col-xs-6>img {
    width: 70px;
    padding-top: 30px;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.email-box {
    margin-top: 20px;
}

.footer>div>div.row>div:nth-child(1)>div>img {
    width: 80px;
}

.logo-box ul {
    list-style-type: none;
    display: flex;
    gap: 35px;
    padding: 31px -65px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.logo-box img {
    width: 20px;
    height: 20px;
}

.ft-title {
    font-size: 14px;
    color: #8b969f;
    background: transparent;
    height: inherit;
}

.footer .contacts {
    padding-top: 30px;
}

.logo-box {
    display: flex;
    justify-content: end;
}

.country-num {
    margin-top: 65px;
}

.num img {
    width: 50px;
    height: 30px;
}

#\32>div>div>div:nth-child(1) {
    margin-top: 60px;
}

#\31 4>div>div>div.col-md-6.col-lg-6.col-xs-2 {
    margin-top: 70px;
}

#\31 4>div>div:nth-child(1) {
    display: flex;
    justify-content: center;
}

#\31 4>div>div:nth-child(2) {
    display: flex;
    justify-content: center;
}

@media(min-width:0px) and (max-width:1160px) {
    .footer .contacts {
        font-size: 10px;
    }
}

@media(min-width:0px) and (max-width:990px) {
    .navbar-buttons>button.btn.btn-light {
        padding: 10px 20px;
    }
    #\31  > div.row > div > nav > div > ul > div > a{
    display: none;
    }
    .tabs-triggers {
        width: 100%;
    }
}
@media(min-width:0px) and (max-width:900px){
    .tabs-icons1, .tabs-icons2 ,
    .tabs-icons3 , .tabs-icons4,
    .tabs-icons5 , .tabs-icons6{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 93px 35px;
        flex-direction: row;
        align-content: flex-end;
        align-items: center;
    }
   
} 

@media(min-width:0px) and (max-width:768px) {
    .navbar-list {
        font-size: 6px;
    }
}

@media(min-width:0px) and (max-width:768px) {
    .simple>div>div>div:nth-child(1)>div::after {
        display: none;
    }

    .simple>div>div>div:nth-child(2)>div::after {
        display: none;
    }

    .simple>div>div>div:nth-child(3)>div::after {
        display: none;
    }
}


@media(min-width:0px) and (max-width:820px) {
    .header .navbar {
        display: none;
        height: 35px;
    }

    #\31>div.row>div>nav>div>ul>li:nth-child(7) {
        background-color: #E30B00;
        color: white;
        text-decoration: none;
        padding: 10px 30px;
        border-radius: 30px;
        transition: .3s;
    }

    .header .navbar .navbar-nav {
        width: 100%;
        display: block;
        font-size: 20px;
        line-height: 60px;
        height: 435px;
        padding-top: 20px;
        background-color: #fff;
        right: -1px;
        top: 85px;
        position: fixed;
        transition: .7s;
    }

    .navbar-nav li {
        display: flex;
        justify-content: center;
    }

    .header .navbar.active {
        display: block;
    }

    .header .container {
        height: 30px;
    }

    #\34>div>div>div:nth-child(2)>ul {
        margin-top: 20px;
    }

    .burger {
        display: block;
        position: fixed;
        right: 15px;
        top: 15px;
        width: 150px;
        height: 50px;
        background-color: opacity;
    }

    .burger .span1 {
        right: 25px;
        top: 10px;
        padding-top: 3px;
        position: absolute;
        height: 2px;
        width: 50px;
        background-color: rgb(146, 11, 11);
        transform: rotate(0deg);
        transition: .3s;
    }

    .burger.active .span1 {
        transform: rotate(33deg);
        top: 20px;
        left: 71px;
    }

    .burger .span2 {
        right: 25px;
        top: 20px;
        padding-top: 3px;
        position: absolute;
        height: 2px;
        width: 50px;
        background-color: rgb(146, 11, 11);
        transform: rotate(0deg);
        transition: .3s;
    }

    .burger.active .span2 {
        transform: rotate(-33deg);
        top: 20px;
        left: 70px;
    }

    .burger .span3 {
        right: 25px;
        top: 30px;
        padding-top: 3px;
        position: absolute;
        height: 2px;
        width: 50px;
        background-color: rgb(146, 11, 11);
        transform: rotate(0deg);
        transition: .3s;
    }

    .burger.active .span3 {
        display: none;
    }

    .navbar-nav .navbar-list ul {
        visibility: hidden;
        display: none;
        line-height: 60px;
        font-size: 20px;
        right: 30px;
    }

    .navbar-list .navbar-nav ul .active {
        visibility: visible;
        display: block;
        display: flex;
        flex-direction: column;
    }

    .navbar-list .navbar-nav ul .active {
        column-gap: 10px;
        font-size: 30px;
        line-height: 10px;
    }

    #\31>div.row>div>div.navbar-buttons {
        padding: 5px 10px;
        margin-right: 50px;
    }

    #\31>div.row>div>div.navbar-buttons.active {
        background-size: cover;
        top: 457px;
        right: 217px;
        position: absolute;
        display: block;
    }

    #\31>div.row>div>div.navbar-buttons.active>button {
       visibility: hidden;
    }

    #\31>div.row>div>div.navbar-logo {
        top: 10px;
        left: 10px;
    }

    @media(min-width:576px)and (max-width:990px) {
        #\37>div>div.wrapper>div>div.tabs-triggers {
            display: flex;
            margin: 0 auto;
            width: 100%;
            font-size: 16px;
        }
    }
}

@media(min-width:0px)and (max-width:1150px) {
    .navbar ul {
        font-size: 10px;
    }
}

@media(min-width:320px)and (max-width:576px) {
    .call-box {
        display: flex;
        justify-content: space-between;
    }
    
    .text h2,
    .tab-list h2,
    .services h2,
    .we-promise h2,
    .clients h2 {
        font-size: clamp(1.5625rem, 1.4668367346938775rem + 0.40816326530612246vw, 1.875rem);
    }

    .simple h2 {
        font-size: 15px;
    }

    .simple h3 {
        font-size: 15px;
    }

    .simple h4 {
        font-size: 15px;
    }

    .simple h5 {
        font-size:15px;
    }
}
#\31  > div.row > div > nav > div > ul > div > a{
    display: none !important;
    visibility: hidden;
} 
@media(min-width:0px)and (max-width:500px) {
    .logo-box {
        display: flex;
        justify-content: start;
    }
}

@media (max-width: 768px) {
    #\31  > div.row > div > nav > div > ul > div > a{
        visibility: visible;
    } 
   
}

@media(min-width:0px)and (max-width:320px) {
    #\38>div.design>div>div>div:nth-child(2)>img {
        width: 300px;
    }

    #\38>div.cambridge>div>div>div:nth-child(2)>img {
        width: 300px;
    }

    #\38>div.share>div>div>div:nth-child(2)>img {
        width: 300px;
    }
}